#version: '3.8'  # Использована более новая версия

networks:
  servers-network:
    driver: bridge
    external: false
    name: servers-network

services:

  postgres:
      image: arina/aiops/postgres:16.9-bookworm
      container_name: postgres
      hostname: postgres
      ports:
        - 5432:5432
      environment:
        POSTGRES_USER: ${DB_USER}
        POSTGRES_PASSWORD: ${DB_PASSWORD}
        SERVICE_5432_NAME: postgres
        SERVICE_5432_CHECK_TCP: "true"
        SERVICE_5432_CHECK_INTERVAL: 30s
        SERVICE_5432_CHECK_TIMEOUT: 5s
      volumes:
        - ~/docker-share/postgres-data-server:/var/lib/postgresql/data
      networks:
        - servers-network
      restart: unless-stopped
